body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

p, blockquote {
	font-size: .9em;
	line-height: 1.6em;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container {
	text-align: center;
	padding: .8em 1.2em;
}

.logo{
	width: 130px;
}

header{
	display: flex;
	justify-content: space-between;
}

.hide-mobile {
	display: none;
}

.menu {
	width: 25px;
	margin-top: 45%;
}

.server {
	width: 70%;
	margin: 2em auto 2em 25%
}

h1, .subhead {
	position: relative;
	z-index: 3;
}

.blue-container {
	width: 100%;
	background: #00C2FF;
	color:#fff;
	margin-top: 13%;
	padding: 4em 0 2em;
	border-top-left-radius: 40px;
	transform: skewY(-2deg);
}

.blue-container:before {
	content:"";
	width: 40px;
	height: 40px;
	background-color: #00C2FF;
	position: absolute;
	top: -39px;
	right: 0px;
	z-index: -2;
}

.blue-container:after {
	content:"";
	width: 80px;
	height: 80px;
	background-color: #fff;
	top: -80px;
	position: absolute;
	right: 0px;
	border-radius: 50%;
	z-index: -1;
}

.blue-container ul {
	transform: skewY(+2deg);
}

.blue-container ul li {
	margin-bottom: 3em;
}

.blue-container ul li p {
	margin-bottom: 0 .5em;
}

.blue-container img {
	width: 14%;
}

.blue-container ul li:nth-child(3) img {
	width: 8%; 
}

.grey-container {
	background: #F6F6F6F6;
	padding: 4em 0 2em;
	margin-top: -3%
}

.grey-container ul li:first-child {
	margin-bottom: 2em;
}

figure {
	margin: 0;
	padding: 0;
}

figcaption {
	font-weight : bold;
	color: #00C2FF;
}

h2 {
	margin-top: 7%;
}

.cta {
	background: #00CC80;
	width: calc(100% - 1em);
	display: block;
	color: #fff;
	border-radius: 20px;
	padding: .5em;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	margin: 3% auto 7%;
	position: relative;
	z-index: 4;

}

.footer-container {
	width: 100%;
	background: #3D444A;
	color: #fff;
	padding: 3em 0;
	border-top-right-radius: 40px;
	transform: skewY(2deg);
}

.footer-container .container {
	transform: skewY(-2deg);
}

.footer-container:before {
	content:"";
	width: 40px;
	height: 40px;
	background-color: #3D444A;
	position: absolute;
	top: -39px;
	left: 0;
	z-index: -2;
}

.footer-container:after {
	content: "";
	width: 80px;
	height: 80px;
	background-color: #FFF;
	position: absolute;
	z-index: -1;
	top: -80px;
	left: 0;
	border-radius: 50%;
}

ul.footer-links {
	margin: 0 auto;
	list-style-type: none;
}

ul.footer-links li {
	display: inline-block;
}

ul.footer-links li a {
	display: inline-block;
	color: #9D9D9D;
	font-size: .8em;
}


